# cmake
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
_CPack_Packages/
cmake_uninstall.cmake
cmake_install.cmake
config.h

# Emacs
*~
.#*
\#*#


# Build
*.o
*.so
*.so.*
clonens
cmpns
consumer
consumer2
consumer3
consumer4
enter_pidns_up
execns
fsinfo
getnsids
idns
linfo
multi-th
orphan
ownerns
parentns
pause
pid
pmsg
producer
producer2
producer3
producer4
reaper
rebootns
sem
semns
setnshost
shmns
shns
shns2
shns3
sigwait
socket
udpcli
udpsrv
userns
userns_child_exec
